<%= form_for [:dashboard,:admin,group,group_forum] do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="list padding">
    <%= f.hidden_field :group_id %>
    <div class="form-inline">
      <%= f.label :forum_id %>
      <%= f.select(:forum_id, Forum.where.not(id: forums).order_by_forum_kind.collect {|u| [u.title, u.id]}, { :prompt => '請選擇'}, :class => 'form-control' ) %>
    </div>
    <div class="form-inline">
    <%= f.label :level %>
    <%= f.select(:level, forum_ability, { prompt: '請選擇'}, class: 'form-control' )  %>
    </div>
    <%= f.submit "確認", disable_with: '處理中...', class: "btn btn-success" %>
  </div>
<% end %>
