<% content_for :breadcrumb do %>
  <li class="active">相簿</li>
<% end %>
<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_admin_album_path, :class => 'btn btn-success' if current_user %>
</div>
<div class="col-xs-12 list">
  <% @albums.each do |m|%>
    <div class="photos">
      <% a =  m.public_at || Time.now %>
      <% b =  m.add_photo_to || Time.now %>
      <%= link_to dashboard_admin_album_path(m) do %>
      <%= image_tag(m.photos.first.file.medium) if m.photos.count > 0 %><br/>
      <span class="<%= "icon-lock" unless m.public_at || a >= Time.now %>"><%= m.title %></span>
      <% end%>
      <span class="<%= "icon-plus" if b > Time.now %>"></span>
    </div>
  <% end %>
</div>
