<% content_for :breadcrumb do %>
  <li><%= link_to "相簿", dashboard_admin_albums_path %></li>
  <li class="active"><%= @album.title %></li>
<% end %>

<div class="">
  <%= @album.title %>
  <%= @album.description %>
  <%= time_parser(@album.add_photo_to) %>
  <%= link_to "修改", edit_dashboard_admin_album_path(@album) %>
</div>

<%= form_for [:dashboard,:admin,@album,@photo], remote: true do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row drop">
    <div id="dropzone" class="fade well col-md-12">拖曳檔案至此處</div>
    <div class="col-md-12">
      <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>選擇檔案...</span>
        <!-- The file input field used as target for the file upload widget -->
        <%= f.file_field :file %>
        <%= f.hidden_field :album_id, value: @album.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </span>
    </div>
  </div>
  <br>
  <div id="progress" class="progress">
      <div class="progress-bar progress-bar-success"></div>
  </div>
  <div id="preview" class="row">
    <div class="media hide">
      <a class="pull-left" href="#">
        <img class="media-object" data-src="holder.js/64x64" src="" alt="">
      </a>
      <div class="media-body">
        <h4 class="media-heading"></h4>
        <a href="#" class="btn btn-danger delete" role="button">Delete</a>
      </div>
    </div>
  </div>
<% end %>

<div id="photolist" class="clearfix">
  <% @photos.each do |m| %>
    <div id="p<%= m.id %>" class="photo">
      <%= link_to(dashboard_admin_album_photo_path(@album, m)) do %>
      <%= image_tag m.file.medium %>
      <% end %>
      <%= link_to "刪除", dashboard_admin_album_photo_path(@album, m), method: :delete, remote: true, class: "delete btn btn-xs btn-default" %>
    </div>
  <% end  %>
</div>
<% content_for :script do %>
  <%= javascript_include_tag 'photos' %>
<% end %>
