<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li ><%= link_to "活動類型", doing_types_url %></li>
  <li class="active">修改</li>
</ol>

<%= form_for @doing_type do |f| %>

<%= f.text_field :title %>
<%= f.submit "確認", :disable_with => '處理中...' %>
<% end %>
