<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "討論分區", forum_types_path %></li>
  <li><%=  @forum.forum_type_title %></li>
  <li class="active">修改子板</li>
</ol>

<%= form_for @forum do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br/>
  <%= f.label :description %>
  <%= f.text_area  :description %><br/>
  <%= f.label :public_at %>
  <%= f.hidden_field :forum_type_id %>
  <div class="btn-group" data-toggle="buttons">
    <% @forum.public_at ? at = '' : at = 'active' %>
    <label class="btn btn-default <%=raw at %>">
      <%= @forum.public_at ? f.radio_button( :public_at, 'false' ) : f.radio_button( :public_at, 'false', { :checked => true } )  %> 隱私
    </label>
    <% @forum.public_at ? bt = 'active' : bt = '' %>
    <label class="btn btn-default <%=raw bt %>">
      <%= @forum.public_at ? f.radio_button( :public_at, 'true', { :checked => true } ) : f.radio_button( :public_at, 'true' ) %> 公開
    </label>
  </div>
  <div class="form-inline">
    <%= f.label :closing_date %>
    <%= f.date_field :closing_date %>
  </div>
  <%= f.submit "確認", class: " btn btn-success" %>
<% end %>
