<ol class="breadcrumb">
  <li><a href="#">首頁</a></li>
  <li class="active">討論區</li>
</ol>
<% @forum_types.each do |f| %>
  <h5><%= f.title %></h5>
  <%= f.description %><br/>
  <% @forums.each do |x| %>
    <% if x.forum_type_id == f.id %>
      <%= x.title %>
      <%= x.description %>
      <%= x.public_at ? '公開' : '隱私' %>
      <%= x.closing_date ? x.closing_date : ''  %><br/>
    <% end %>
  <% end %>
<% end %>
