<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "討論區", forums_path %></li>
  <li class="active"><%= @forum.title %></li>
</ol>
<%= @post_view %>
<% if @post_view.first == @forum.id %>
  <%= link_to "新增", new_forum_post_path(forum_id: @forum.id) if @post_view.last > 6 %><br/>
  <% @posts.each do |m| %>
    <%= link_to m.subject, forum_post_path(@forum,m.id) %>
    <%= m.user.name %>
    <%= m.view_count %>
    <%= m.created_at %>
    <%= m.updated_at if m.created_at != m.updated_at %>
  <% end %>
<% end %>
