<% content_for :breadcrumb do %>
  <li><%= link_to "討論區", dashboard_admin_forums_path %></li>
  <li><%= link_to @forum.title, dashboard_admin_forum_path(@forum) %></li>
  <li class="active" >新增</li>
<% end %>

<%= form_for [:dashboard,:admin,@forum,@post] do |f| %>
  <%= f.text_field :subject, class: "form-control", placeholder: "標題"%><br/>
  <%= f.text_area :body, class: "form-control", rows: "20", "data-provide" => "markdown" %>
  <%= f.hidden_field :forum_id %>
  <%= f.hidden_field :reply_id %>
  <%= f.submit  "確認", class: "btn btn-success", style: "margin-top: 10px;margin-bottom: 10px;" %>
<% end %>

<% if @posts %>
  <% @posts.each do |m| %>
    <div class="col-md-2 user">
      <img src="http://graph.facebook.com/<%= m.user_uid %>/picture?type=normal"/><br/>
      <%= link_to m.user_name, "http://www.facebook.com/#{m.user_uid}" %><br/>
      加入時間：<%= m.user.created_at.strftime("%Y %m.%d") %><br/>
      上次登入：<%= m.user.last_sign_in_at.strftime("%Y %m.%d") %>
    </div>
    <div  class="col-md-10 post">
      <div class="subject">
        <strong><%= m.subject %></strong>
      </div>
      <div class="content">
        <%= markdown(m.body) %>
      </div>
      <div class="controller">
      </div>
    </div>
  <% end %>
<% end %>
