<% content_for :breadcrumb do %>
  <li class="active">相簿</li>
<% end %>
<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_album_path, :class => 'btn btn-success' if @inside %>
</div>
<div class="col-xs-12 list">
  <% @albums.each do |m|%>
    <% a =  m.public_at || Time.now %>
    <% b =  m.add_photo_to || Time.now %>
    <% if a < Time.now || @inside %>
      <div class="photos">
        <%= link_to dashboard_album_path(m) do %>
        <%= image_tag(m.photos.first.file.medium) %><br/>
        <span class="<%= "eye-blocked" unless m.public_at || a >= Time.now %>"><%= m.title %></span>
        <% end%>
        <span class="<%= "icon-plus" if b > Time.now %>"></span>
      </div>
    <% end %>
  <% end %>
</div>
