<% content_for :breadcrumb do %>
  <li><%= link_to "活動行事曆", dashboard_admin_schedules_path %></li>
  <li class="active"><%= @schedule.title %></li>
<% end %>

<%= @schedule.title %>
<%= time_parser(@schedule.start_date) %>
<%= time_parser(@schedule.end_date) %>
<%= time_parser(@schedule.public_at) if @schedule.public_at %>
<%= @schedule.local %>
<%= @schedule.number %>
<%= @schedule.description %>
<%= @schedule.kind_title %>
