<% content_for :breadcrumb do %>
  <li><%= link_to "文章總覽", dashboard_articles_path %></li>
  <li class="active">文章：<%= @article.title %></li>
<% end %>

<span class="head"><%= @article.title + ":" + @article.user_name%></span>
<div class="content">
  <%= markdown(@article.content) %>
</div>
<div class="comments">
  <span class="head">回應</span>
  <% @comments.each do |co| %>
    <%= render 'comment', co: co %>
  <% end %>
</div>

<%= form_for(@comment, url: append_dashboard_article_path, remote: true) do |f| %>
  <%= f.text_area :content, class: "form-control", placeholder: "請最少輸入十個字"%>
  <%= f.hidden_field :article_id %>
  <%= f.submit "回應", :disable_with => "傳送中...", method: :post,
                  class: "btn btn-success disabled", id: "comment" %>
<% end %>
