<% content_for :breadcrumb do %>
  <li class="active">討論區權限</li>
<% end %>

<div class="list padding">
  <% @user_groups.each do |m| %>
    <img src="http://graph.facebook.com/<%= m.uid %>/picture?type=square" height="42" width="42"/>
    <%= m.name  %>
    <%= m.email %>
    <%= link_to "新增權限", new_dashboard_user_group_path(user_id: m.id), class: "btn btn-xs btn-success" %><br/>
    <% m.groups.each do |g| %>
    <%= g.name %>
     <% unless [1,5,7].include?(g.id) %>
       <%= link_to "修改", edit_dashboard_user_group_path(id: m.id, user_id: m.id, group_id: g.id), class: "btn btn-xs btn-success" %>
       <%= link_to "刪除", dashboard_user_group_path(id: m.id, user_id: m.id, group_id: g.id),
        method: :delete, class: "btn btn-xs btn-danger"  %>
     <% end %>
    <% end %> <br/>
  <% end %>
</div>
