<h1>露營地</h1>

<table>
  <thead>
    <tr>
      <th>名稱</th>
      <th>區域</th>
      <th>地址</th>
      <th>露營區</th>
      <th>水</th>
      <th>電</th>
      <th>棚頂</th>
      <th>費用</th>
      <th>檢查哨</th>
      <th>url</th>
      <th>map</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campings.each do |camping| %>
      <tr>
        <td><%= link_to camping.name, camping %></td>
        <td><%= area_select(camping.area) %></td>
        <td><%= camping.address %></td>
        <td><%= camping.camping_area ? '是' : '非' %></td>
        <td><%= camping.water ? '有' : '無' %></td>
        <td><%= camping.electric ? '有' : '無' %></td>
        <td><%= camping.canopy ? '有' : '無' %></td>
        <td><%= camping.expense ? '有' : '無' %></td>
        <td><%= camping.check ? '有' : '無' %></td>
        <td><%= link_to('url', camping.url, target: 'newwin') if camping.url.size > 1 %></td>
        <td><%= link_to('gmap', webmap(camping.gmap), target: 'newwin') if camping.gmap.size > 1 %></td>
        <td><%= link_to '檢視', camping %></td>
      </tr>
    <% end %>
  </tbody>
</table>
