<%= form_for [:dashboard,:admin,forum] do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="list">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", placeholder: "名稱" %>
    <%= f.label :description %>
    <%= f.text_area  :description, class: "form-control", placeholder: "說明" %>
    <%#= f.label :public_at %>
    <%= f.hidden_field :forum_kind_id %>
    <%= f.label :closing_date %>
    <div class='input-group date' id='datetimepicker1'>
      <%= f.text_field :closing_date, class: "form-control", 'data-date-format' => "YYYY/MM/DD HH:mm", placeholder: "關閉時間 臨時討論區用" %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
    <%= render 'shared/check', check: forum.public_at, check_name: 'public_at', f: f, title: ['隱私', '公開'] %>
    <br/>
    <%= f.submit "確認", class: " btn btn-success" %>
  </div>
<% end %>
