<article class="col-md-6">
  <div id="training" class="list">
    <h4 class="ui teal ribbon label">近期授課</h4>
    <span class="right more"><%= link_to "更多...", dashboard_schedules_path(doing_kind_id: 2) %></span>
    <% @training_list.each do |train| %>
    <p class="atitle"><%= link_to train.title, dashboard_schedule_path(train.id) %>
      <span class="<%= "icon-eye-blocked" if train.public_at == nil || train.public_at > Time.now %>"></span>
    <span class="right"><%= '還有' if train.start_date > Time.now %>
      <%= timeago_tag train.start_date, nojs: true, limit: 30.days.ago, lang: 'zh-TW' %></span></p>
    <% end %>
  </div>
</article>

<article class="col-md-6">
  <div id="schedules" class="list">
    <h4 class="ui teal ribbon label">近期活動</h4>
    <span class="right more"><%= link_to "更多...", dashboard_schedules_path %></span>
    <% @schedule_list.each do |doing| %>
    <p class="atitle"><%= link_to doing.title, dashboard_schedule_path(doing.id) %>
      <span class="<%= "icon-eye-blocked" if doing.public_at == nil || doing.public_at > Time.now %>"></span>
    <span class="right"><%= '還有' if doing.start_date > Time.now %>
    <%= timeago_tag doing.start_date, nojs: true, limit: 30.days.ago, lang: 'zh-TW' %></span></p>
    <% end %>
  </div>
</article>

<article class="col-md-6">
  <div id="forums" class="list">
    <h4 class="ui teal ribbon label">討論區最新主題</h4>
    <span class="right more"><%= link_to "更多...", dashboard_forums_path %></span>
    <% @post_list.each do |post| %>
    <p class="atitle"><%= link_to post.subject, dashboard_forum_post_path(forum_id: post.forum_id, id: post.id) %>
    <span class="right"><%= timeago_tag post.update_post, nojs: true, limit: 30.days.ago, lang: 'zh-TW' %></span></p>
    <% end %>
  </div>
</article>

<article class="col-md-6">
  <div id="books" class="list">
    <h4 class="ui teal ribbon label">近期文章</h4>
    <span class="right more"><%= link_to "更多...", dashboard_articles_path %></span>
    <% @articles_list.each do |art| %>
    <p class="atitle"><%= link_to art.title, dashboard_article_path(art.id) %>
    <span class="right"><%= timeago_tag art.created_at, nojs: true, limit: 30.days.ago, lang: 'zh-TW' %></span></p>
    <% end %>
  </div>
</article>

<article class="col-md-6">
  <div id="photos" class="list">
    <h4 class="ui teal ribbon label">最新相簿</h4>
    <span class="right more"><%= link_to "更多...", dashboard_albums_path %></span>
    <% @album_list.each do |album| %>
    <p class="atitle"><%= link_to album.title, dashboard_album_path(album.id) %>
        <span class="<%= "icon-eye-blocked" if album.public_at == nil || album.public_at > Time.now %>"></span>
    <span class="right"><%= timeago_tag album.created_at, nojs: true, limit: 30.days.ago, lang: 'zh-TW' %></span></p>
    <% end %>
  </div>
</article>

<article class="col-md-6">
  <div id="movies" class="list">
    <h4 class="ui teal ribbon label">近期影片</h4>
    <span class="right more"><%= link_to "更多...", dashboard_movies_path %></span>
    <% @movie_list.each do |movie| %>
    <p class="atitle"><%= link_to movie.title, dashboard_movie_path(movie.id) %>
      <span class="<%= "icon-eye-blocked" if movie.public_is == false %>"></span>
    <span class="right"><%= timeago_tag movie.created_at, nojs: true, limit: 30.days.ago, lang: 'zh-TW' %></span></p>
    <% end %>
  </div>
</article>
