<% content_for :breadcrumb do %>
  <li class="active">討論分區</li>
<% end %>

<% @forum_kinds.each do |f| %>
<div id="forum-list">
  <strong><%= f.title %></strong>
  <%= f.description %>
  <%= link_to "修改", edit_dashboard_admin_forum_kind_path(f), class: 'btn btn-xs btn-success' %>
  <%= link_to "新增子板", new_dashboard_admin_forum_kind_forum_path(f), class: 'btn btn-xs btn-success' %>
  <%= link_to "刪除", dashboard_admin_forum_kind_path(f), method: :delete, class: 'btn btn-xs btn-danger' %><br/>

  <% @forums.each do |x| %>
    <% if x.forum_kind_id == f.id %>
      <%= x.title %>
      <%= x.description %>
      <%= x.public_at ? '公開' : '隱私' %>
      <%= x.closing_date ? x.closing_date : ''  %>
      <%= link_to "修改", edit_dashboard_admin_forum_path(x), class: 'btn btn-xs btn-success' %>
      <%= link_to "刪除", dashboard_admin_forum_path(x), method: :delete, class: 'btn btn-xs btn-danger' %><br/>
    <% end %>
  <% end %>
</div>
<% end %>
<%= link_to "新增分區", new_dashboard_admin_forum_kind_path, class: 'btn btn-success' %>
