<% content_for :breadcrumb do %>
<li class="active">影片目錄</li>
<% end %>

<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_movie_path, :class => 'btn btn-success' if @inside %>
</div>
<%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
<div class="col-xs-12 list">
  <% @movies.each do |m|%>
    <% if m.public_is == true || @junior %>
      <%= link_to m.title, dashboard_movie_path(m) %>
      <span class="<%= "icon-eye-blocked" if m.public_is == false %>"></span>
      <%= m.user_name %>
      <%= time_parser(m.created_at) %>
      <%= link_to "修改", edit_dashboard_movie_path(m), class: "btn btn-xs btn-success" if @inside %>
    <% end %>
  <% end  %>
</div>
<%= will_paginate @movies, renderer: BootstrapPagination::Rails %>
