<% content_for :breadcrumb do %>
  <li><%= link_to "權限群組", dashboard_admin_groups_path %></li>
  <li class="active">修改群組 | <%= @group.name %></li>
<% end %>

<%= form_for [:dashboard,:admin,@group] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :admin %>
  <div class="btn-group" data-toggle="buttons">
    <% @group.admin ? at = '' : at = 'active' %>
    <label class="btn btn-default <%=raw at %>">
      <%= @group.admin ? f.radio_button( :admin, 'false' ) : f.radio_button( :admin, 'false', { :checked => true } )  %> 使用者
    </label>
    <% @group.admin ? bt = 'active' : bt = '' %>
    <label class="btn btn-default <%=raw bt %>">
      <%= @group.admin ? f.radio_button( :admin, 'true', { :checked => true } ) : f.radio_button( :admin, 'true' ) %> 管理者
    </label>
  </div>
  <%= f.submit "確認", class: " btn btn-success" %>
<% end %>
