<ol class="breadcrumb">
  <li><a href="#">首頁</a></li>
  <li><%= link_to "討論分區", forum_types_path %></li>
  <li class="active">修改</li>
</ol>

<%= form_for @forum_type do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area  :description %>
  <%= f.submit "確認", class: " btn btn-success" %>
<% end %>
