<%= form_for [:dashboard,camping] do |f| %>
  <% if camping.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(camping.errors.count, "error") %> prohibited this camping from being saved:</h2>

      <ul>
      <% camping.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :area %>
    <%= f.select :area, Camping::AREA %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :camping_area %>
    <%= render 'shared/check', check: camping.camping_area, check_name: 'camping_area', f: f, title: ['否', '是'] %>
  </div>
  <div class="field">
    <%= f.label :water %>
    <%= render 'shared/check', check: camping.water, check_name: 'water', f: f, title: ['否', '是'] %>
  </div>
  <div class="field">
    <%= f.label :electric %>
    <%= render 'shared/check', check: camping.electric, check_name: 'electric', f: f, title: ['否', '是'] %>
  </div>
  <div class="field">
    <%= f.label :canopy %>
    <%= render 'shared/check', check: camping.canopy, check_name: 'canopy', f: f, title: ['否', '是'] %>
  </div>
  <div class="field">
    <%= f.label :expense %>
    <%= render 'shared/check', check: camping.expense, check_name: 'expense', f: f, title: ['否', '是'] %>
  </div>
  <div class="field">
    <%= f.label :check %>
    <%= render 'shared/check', check: camping.check, check_name: 'check', f: f, title: ['否', '是'] %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :gmap %><br>
    <%= f.text_field :gmap %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <% params[:action] == 'edit' ? btn = '更新' : '新增' %>
    <%= f.submit btn, :class => 'btn btn-xs btn-primary' %>
    <%= link_to '返回', dashboard_campings_path, class: "btn btn-xs btn-success" %>
  </div>
<% end %>
