<% content_for :breadcrumb do %>
  <li class="active">露營地</li>
<% end %>

<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_camping_path, class: 'btn btn-success' if @inside %>
</div>

<div class="col-md-12 list">
  <table  class="table table-hover">
    <thead>
      <tr>
        <th>名稱</th>
        <th>區域</th>
        <th>地址</th>
        <th>露營區</th>
        <th>水</th>
        <th>電</th>
        <th>棚頂</th>
        <th>費用</th>
        <th>檢查哨</th>
        <th>網址</th>
        <th>地圖</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @campings.each do |camping| %>
        <tr>
          <td><%= link_to camping.name, camping %></td>
          <td><%= area_select(camping.area) %></td>
          <td><%= camping.address %></td>
          <td><%= camping.camping_area ? '是' : '非' %></td>
          <td><%= camping.water ? '有' : '無' %></td>
          <td><%= camping.electric ? '有' : '無' %></td>
          <td><%= camping.canopy ? '有' : '無' %></td>
          <td><%= camping.expense ? '有' : '無' %></td>
          <td><%= camping.check ? '有' : '無' %></td>
          <td><%= link_to('官網', camping.url, target: 'newwin', class: "btn btn-xs btn-success") if camping.url.size > 1 %></td>
          <td><%= link_to('地圖', webmap(camping.gmap), target: 'newwin', class: "btn btn-xs btn-success") if camping.gmap.size > 1 %></td>
          <td><%= link_to '檢視', camping, class: "btn btn-xs btn-success" %></td>
          <td><%= link_to '編輯', edit_dashboard_camping_path(camping), class: "btn btn-xs btn-success" if @inside %></td>
          <td><%= link_to '刪除', camping, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-success" if @inside %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
