<% content_for :breadcrumb do %>
  <li class="active">活動行事曆</li>
<% end %>

<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_schedule_path, :class => 'btn btn-success' if @inside %>
</div>
<div class="col-md-2">
  <div class="list sidebar">
      <%= link_to "全部", dashboard_schedules_path %>
    <% @kinds.each do |k| %>
      <%= link_to k.title, dashboard_schedules_path(doing_kind_id: k.id) %>
    <% end  %>
  </div>
</div>
<div class="col-md-10">
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
  <div class="list">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>活動名稱</td>
          <td>活動時間</td>
          <td>結束時間</td>
          <td>公開時間</td>
          <td>活動地點</td>
          <td>人數   </td>
          <td>活動類型</td>
        </tr>
      </thead>
      <tbody>
        <% @schedules.each do |t| %>
        <tr>
          <td>
            <%= link_to t.title, dashboard_schedule_path(t) %>
          </td>
          <td>
            <%= time_parser(t.start_date) %>
          </td>
          <td>
            <%= time_parser(t.end_date) %>
          </td>
          <td>
            <%= time_parser(t.public_at) if t.public_at %>
          </td>
          <td>
            <%= t.local %>
          </td>
          <td>
            <%= t.number %>
          </td>
          <td>
            <%= t.kind_title %>
            <%= link_to "修改", edit_dashboard_schedule_path(t), class: "btn btn-xs btn-success" if @inside %>
            <%= link_to "刪除", dashboard_schedule_path(t), method: :delete, class: "btn btn-xs btn-danger" if @inside %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate @articles, renderer: BootstrapPagination::Rails %>
</div>
