<ol class="breadcrumb">
  <li><%= link_to "首頁", dashboard_root_path %></li>
  <li class="active">各屆幹部</li>
</ol>

<div>
  <% @title_ths.each do |m| %>
    <% unless @year %>
      <%= m.title_year %>
      <br/>
    <% end %>
    <% @year ||= m.title_year %>
    <% unless @year == m.title_year %>
      <% @year = m.title_year %>
      <br/>
      <%= m.title_year %>
      <br/>
    <% end %>
    <%= m.member_th %>
    <%= m.title_title %>
    <%= m.member_name %>
  <% end %>
</div>
