<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">文章總覽</li>
</ol>

<div>
  <div class="col-md-2">
    <div class="list">
      <% @art_kind.each do |at| %>
        <%= link_to at.name, articles_path(art_kind_id: at.id) %><br/>
      <% end %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="list">
      <% @articles.each do |art| %>
        <%= link_to art.title, article_path(art.id) %>
        <%= art.content %>
        <%= art.user_name %>
        <%= art.art_kind.name %>
        <%= '還有' if art.created_at > Time.now %>
        <%= timeago_tag art.created_at, :nojs => true, :limit => 30.days.ago, :lang => 'zh-TW' %><br/>
      <% end %>
    </div>
  </div>
</div>
