<% content_for :breadcrumb do %>
  <li><%= link_to "文章總覽", articles_path %></li>
  <li class="active">文章：<%= @article.title %></li>
<% end %>

<span class="head"><%= @article.title + ":" + @article.user_name%></span>
<div class="content">
  <%= markdown(@article.content) %>
</div>
<div class="comments">
  <span class="head">回應</span>
  <% @comments.each do |co| %>
    <%= render 'comment', co: co %>
  <% end %>
</div>
