<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "文章總覽", articles_path %></li>
  <li class="active">文章：<%= @article.title %></li>
</ol>

<%= @article.title %>
<%= @article.user.name %>
<%= @article.content %>
<div class="comments">
  <% if @comments %>
    <% @comments.each do |co| %>
      <%= co.content %>
      <%= co.user.name %>
      <%= time_ago_in_words(co.created_at) %><br/>
    <% end %>
  <% end %>
</div>
