<% content_for :breadcrumb do %>
  <li><%= link_to "文章總覽", articles_path %></li>
  <li class="active">文章：<%= @article.title %></li>
<% end %>

<%= @article.title %>
<%= @article.user_name %>
<div class="content">
  <%= markdown(@article.content) %>
</div>
<div class="comments">
  <% if @comments %>
    <% @comments.each do |co| %>
      <%= co.content %>
      <%= co.user_name %>
      <%= timeago_tag co.created_at, :nojs => true, :limit => 30.days.ago, :lang => 'zh-TW' %><br/>
    <% end %>
  <% end %>
</div>
