<% content_for :breadcrumb do %>
  <li class="active">團康音樂</li>
<% end %>

<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_admin_music_path, class: 'btn btn-success' %>
</div>
<%= will_paginate @musics, renderer: BootstrapPagination::Rails %>
<div class="col-xs-12 list">
  <% @musics.each do |m|%>
  <div class="item">
    <%= link_to m.title, dashboard_admin_music_path(m.id) %>
    <%= m.user.name %>
  </div>
  <% end %>
</div>
<%= will_paginate @musics, renderer: BootstrapPagination::Rails %>
