<ol class="breadcrumb">
  <li><%= link_to "首頁", dashboard_admin_root_path %></li>
  <li><%= link_to "團康音樂", dashboard_admin_musics_path %></li>
  <li class="active"><%= @music.title %></li>
</ol>

<%= @music.title %>
<%= link_to File.basename(@music.file.path), "#{@music.file}" %>
<div class="content">
  <%= markdown(@music.description) %>
</div>
<%= link_to "修改", edit_dashboard_admin_music_path(@music.id), class: "btn btn-xs btn-success" %>
<%= link_to "刪除", dashboard_admin_music_path(@music.id), method: :delete, class: "btn btn-xs btn-danger" %>
