<% require "rails_autolink" %>
<ol class="breadcrumb">
  <li><%= link_to "首頁", dashboard_admin_root_path %></li>
  <li class="active">留言板</li>
</ol>
<div class="col-xs-12 new">
  <%= link_to '留 言', new_dashboard_admin_board_path, :class => 'btn btn-success' if current_user %>
</div>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>

<% @boards.each do |board| %>
<div class="col-md-2 user">
    <img src="http://graph.facebook.com/<%= board.user.uid %>/picture?type=normal"/><br/>
    <%= link_to board.user.name, "http://www.facebook.com/#{board.user.uid}" %><br/>
    加入時間：<%= board.user.created_at.strftime("%Y %m.%d") %><br/>
    上次登入：<%= board.user.last_sign_in_at.strftime("%Y %m.%d") %>
</div>
<div  class="col-md-10 post">
  <div class="subject">
    <strong>編號：<%= board.id %> | 主題：<%= board.subject %></strong>
  </div>
  <div class="content">
    <%= simple_format(auto_link(board.content)) %>
  </div>
  <div class="controller">
    <% if board.updated_at == board.created_at %>
      新增於：<%= time_parser(board.created_at) %>
    <% else %>
      修改於：<%= time_parser(board.updated_at) %>
    <% end %>
    <%= link_to "修改", edit_dashboard_admin_board_path(board), class: "btn btn-success btn-xs" %>
    <%= link_to "刪除", dashboard_admin_board_path(board), :method => :delete, class: "btn btn-danger btn-xs" %><br/>
  </div>
</div>
<% end %>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
