<% content_for :breadcrumb do %>
  <li class="active">活動類型</li>
<% end %>
<div class="col-xs-12 new">
  <%= link_to '新增', new_dashboard_admin_doing_kind_path, :class => 'btn btn-success' if current_user %>
</div>
<div class="col-xs-12 list">
  <% @doing_kinds.each do |doing_kind| %>
    <%= doing_kind.id %>
    <%= doing_kind.title %>
    <%= link_to "修改", edit_dashboard_admin_doing_kind_path(doing_kind), class: "btn btn-xs btn-success" %>
    <%= link_to "刪除", dashboard_admin_doing_kind_path(doing_kind) , method: :delete, class: "btn btn-xs btn-danger"%><br/>
  <% end %>
</div>
