<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "權限群組", groups_path %></li>
  <li class="active">修改群組</li>
</ol>

<%= form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :admin %>
  <div class="btn-group" data-toggle="buttons">
      <%=raw @group.admin ? '<label class="btn btn-default">' : '<label class="btn btn-default active">' %>
      <%= @group.admin ? f.radio_button( :admin, 'false' ) : f.radio_button( :admin, 'false', { :checked => true } )  %> 使用者
    </label>
      <%=raw @group.admin ? '<label class="btn btn-default active">' : '<label class="btn btn-default">' %>
      <%= @group.admin ? f.radio_button( :admin, 'true', { :checked => true } ) : f.radio_button( :admin, 'true' ) %> 管理者
    </label>
  </div>
  <%= f.submit "確認", class: " btn btn-success" %>
<% end %>
