<ol class="breadcrumb">
  <li><a href="#">首頁</a></li>
  <li><%= link_to "權限群組", groups_path %></li>
  <li class="active">新增群組</li>
</ol>

<%= form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :admin %>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active">
      <%= f.radio_button( :admin, 'false', { :checked => true } ) %> 使用者
    </label>
    <label class="btn btn-default">
      <%= f.radio_button( :admin, 'true' ) %> 管理者
    </label>
  </div>
  <%= f.submit "確認", class: " btn btn-success" %>
<% end %>
