<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "權限群組", groups_path %></li>
  <li class="active">權限管理</li>
</ol>

<%= @group.name %>
<%= @group.admin ? '管理者' : '' %><br/>
<% @group_forums.each do |g| %>
  <%= g.title %>
  <%= ability(g.level)  %>
  <%= link_to "修改", edit_group_group_forum_path(@group, g.id) %><br/>
<% end %>
<%= link_to "新增權限", new_group_group_forum_path(@group) %>
