<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">活動行事曆</li>
</ol>
<% @schedules.each do |t| %>
  <%= t.title %>
  <%= t.start_date.strftime("%Y %m %d %H:%M") %>
  <%= t.end_date.strftime("%Y %m %d %H:%M") %>
  <%= t.public_at.strftime("%Y %m %d %H:%M") if t.public_at %>
  <%= t.local %>
  <%= t.number %>
  <%= t.description %>
  <%= t.type_title %>
  <%= link_to "修改", edit_schedule_path(t) %><br/>
<% end %>
<%= link_to "新增", new_schedule_path %>
