<% content_for :breadcrumb do %>
  <li class="active">活動行事曆</li>
<% end %>

<div class="col-md-2">
  <div id="list sidebar">
    <% @kinds.each do |k| %>
      <%= link_to k.title, schedules_path(doing_kind_id: k.id) %>
    <% end  %>
  </div>
</div>
<div class="col-md-10">
  <div class="list">
    <% @schedules.each do |t| %>
      <%= t.title %>
      <%= t.start_date.strftime("%Y %m %d %H:%M") %>
      <%= t.end_date.strftime("%Y %m %d %H:%M") %>
      <%= t.public_at.strftime("%Y %m %d %H:%M") if t.public_at %>
      <%= t.local %>
      <%= t.number %>
      <%= t.description %>
      <%= t.kind_title %><br/>
    <% end %>
  </div>
</div>
