<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "活動行事曆", schedules_path %></li>
  <li class="active">新增</li>
</ol>

<%= form_for @schedule do |f| -%>
  <div class="form-inline">
  	<%= f.label :title %>
	  <%= f.text_field :title %>
  </div>
  <div class="form-inline">
  	<%= f.label :description %>
	  <%= f.text_area :description %>
  </div>
  <div class="form-inline">
  	<%= f.label :number	%>
		<%= f.text_field :number %>
  </div>
  <div class="form-inline">
  	<%= f.label :start_date %>
    <%= f.date_field :start_date %>
    <%= f.time_field :start_date, :ignore_date => true %>
  </div>
  <div class="form-inline">
  	<%= f.label :end_date %>
    <%= f.date_field :end_date %>
    <%= f.time_field :end_date, :ignore_date => true %>
  </div>
  <div class="form-inline">
  	<%= f.label :public_at %>
    <%= f.date_field :public_at %>
    <%= f.time_field :public_at, :ignore_date => true %>
  </div>
  <div class="form-inline">
  	<%= f.label :local %>
  	<%= f.text_field :local %>
  </div>
  <div class="form-inline">
  	<%= f.label :doing_type_id %>
	  <%= f.select(:doing_type_id, DoingType.all.collect {|u| [u.title, u.id]}, { :prompt => '請選擇'}, :class => 'form-control' ) %>
  </div>
  <%= f.submit "確認", :disable_with => '處理中...' %>
<% end -%>
