<ol class="breadcrumb">
  <li><%= link_to "首頁", dashboard_admin_root_path %></li>
  <li class="active">文章總覽</li>
</ol>
<%= link_to "新增文章", new_dashboard_admin_article_path, class: "btn btn-success" %>
<div>
  <div class="col-md-2">
    <div class="list">
      <% @art_type.each do |at| %>
        <%= link_to at.name, dashboard_admin_articles_path(art_type_id: at.id) %><br/>
      <% end %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="list">
      <% @articles.each do |art| %>
        <%= link_to art.title, dashboard_admin_article_path(art.id) %>
        <%= art.content %>
        <%= art.user_name %>
        <%= art.art_type.name %>
        <%= time_ago_in_words(art.created_at) %>
        <%= link_to "修改", edit_dashboard_admin_article_path(art.id), class: "btn btn-sm btn-success" %><br/>
      <% end %>
    </div>
  </div>
</div>
