<% content_for :breadcrumb do %>
  <li><%= link_to "文章總覽", dashboard_admin_articles_path %></li>
  <li class="active">新增文章</li>
<% end %>

<%= form_for [:dashboard,:admin,@article] do |f| %>
  <%= f.text_field :title, class: "form-control" %>
  <%= f.select(:art_kind_id, ArtKind.all.collect {|u| [u.name, u.id]},
      { :prompt => '請選擇'}, :class => 'form-control' ) %>
  <%= f.text_area :content, class: "form-control", rows: "20", "data-provide" => "markdown" %>
  <%= f.submit "新增", class: " btn btn-success" %>
<% end %>
