<% content_for :breadcrumb do %>
  <li><%= link_to "相簿", albums_path %></li>
  <li class="active"><%= @album.title %></li>
<% end %>

<div class="">
  <h3 class="ui teal ribbon label"><%= @album.title %></h3>
  <%= @album.description %>
  <%= @album.add_photo_to %>
</div>

<div id="photolist" class="clearfix">
  <% @photos.each do |m| %>
    <div id="p<%= m.id %>" class="photo">
      <%= link_to(album_photo_path(@album, m)) do %>
        <%= image_tag m.file.medium %>
      <% end %>
    </div>
  <% end  %>
</div>
