<% content_for :breadcrumb do %>
  <li><%= link_to "團康音樂", dashboard_musics_path %></li>
  <li class="active">新增音樂</li>
<% end %>

<%= form_for [:dashboard,@music] do |f| %>
  <%= render 'shared/errors', object: f.object %>
  <div class="list padding">
    <%= f.text_field :title, class: "form-control", placeholder: "標題" %>
    <%= f.file_field :file, class: "form-control" %>
    <%= f.text_area :description, class: "form-control", rows: "20", "data-provide" => "markdown", placeholder: "說明" %>
    <%= f.submit "確認", class: "btn btn-success" %>
  </div>
<% end %>
