<% content_for :breadcrumb do %>
  <li><%= link_to "團康音樂", dashboard_musics_path %></li>
  <li class="active"><%= @music.title %></li>
<% end %>

<%= @music.title %>
<%= link_to File.basename(@music.file.path), "#{@music.file}" %>
<div class="content">
  <%= markdown(@music.description) %>
</div>
<%= markdown(@music.description) %>
<%= link_to "修改", edit_dashboard_music_path(@music.id), class: "btn btn-xs btn-success" if @inside%>
<%= link_to "刪除", dashboard_music_path(@music.id), method: :delete, class: "btn btn-xs btn-danger" if @admin %>
