<ol class="breadcrumb">
  <li><%= link_to "首頁", dashboard_root_path %></li>
  <li><%= link_to "團康音樂", dashboard_musics_path %></li>
  <li class="active"><%= @music.title %></li>
</ol>

<%= @music.title %>
<%= @music.file %>
<%= @music.description %>
<%= link_to "修改", edit_dashboard_music_path(@music.id), class: "btn btn-sm btn-success" %>
<%= link_to "刪除", dashboard_music_path(@music.id), method: :delete, class: "btn btn-sm btn-danger" %>
