<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">職務職掌</li>
</ol>

<div class="col-md-2">
  <div class="list">
    <table class="table table-hover">
      <tbody>
        <% @titles.each do |t| %>
        <tr>
          <td>
            <%= link_to t.title, titles_path(id: t.id) %>
            <%= t.level %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-10">
  <div id="title" class="list">
    <p class="title-title"><%= @title.title %></p>
    <div>
      <%= markdown(@title.description) %>
    </div>
  </div>
  <div class="right"><%= "修訂於 " + time_parser(@title.updated_at) %></div>
</div>
