<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "討論區", forums_path %></li>
  <li><%= link_to @forum.title, forum_path(@forum) %></li>
  <li class="active" >修改</li>
</ol>

<%= form_for @post do |f| %>
  <%= f.label :subject %>
  <%= f.text_field :subject %><br/>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.hidden_field :forum_id %>
  <%= f.hidden_field :reply_id %><br/>
  <%= f.submit  "確認", class: "btn btn-success" %>
<% end %>

<% if @posts %>
  <% @posts.each do |m| %>
    <%= m.subject  %>
    <%= m.body %>
    <%= m.post_name %><br/>
  <% end %>
<% end %>
