<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li><%= link_to "討論區", forums_path %></li>
  <li><%= link_to @forum.title, forum_path(@forum) %></li>
  <li class="active" >新增</li>
</ol>

<%= form_for @post do |f| %>
  <%= f.text_field :subject, class: "form-control", placeholder: "標題"%><br/>
  <%= f.text_area :body, class: "form-control", rows: "20", "data-provide" => "markdown" %>
  <%= f.hidden_field :forum_id %>
  <%= f.hidden_field :reply_id %>
  <%= f.submit  "確認", class: "btn btn-success", style: "margin-top: 10px;" %>
<% end %>

<% if @posts %>
  <% @posts.each do |m| %>
    <%= m.subject  %>
    <%= markdown(m.body) %>
    <%= m.post_name %><br/>
  <% end %>
<% end %>
