<% content_for :breadcrumb do %>
  <li><%= link_to "討論區", forums_path %></li>
  <li><%= link_to @forum.title, forum_path(@forum) %></li>
  <li class="active" ><%= @posts.first.subject %></li>
<% end %>

<% view = @post_view.first == @forum.id if @post_view %>

<% if @forum.public_at || view %>
  <% @posts.each do |m| %>
    <div class="col-md-2 user">
      <img src="http://graph.facebook.com/<%= m.user_uid %>/picture?type=normal"/><br/>
      <%= link_to m.user_name, "http://www.facebook.com/#{m.user_uid}" %><br/>
      加入時間：<%= m.user.created_at.strftime("%Y %m.%d") %><br/>
      上次登入：<%= m.user.last_sign_in_at.strftime("%Y %m.%d") %>
    </div>
    <div  class="col-md-10 post">
      <div class="subject">
        <strong><%= m.subject %></strong>
      </div>
      <div class="content">
        <%= markdown(m.body) %>
      </div>
      <div class="controller">
        <% if m.updated_at != m.created_at  %>
          修改於：<%= time_parser(m.updated_at) %>
        <% else %>
          新增於：<%= time_parser(m.created_at) %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
