<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button kind="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "黑衫軍", dashboard_root_path, :class => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if controller_action('welcomes','index') %>">
          <%= link_to "最新消息", dashboard_root_path %></li>
          <li class="dropdown <%= controller?('boards','forums') %>">
            <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">交流區</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 留言板", dashboard_boards_path, class: "icon-bubbles" %></li>
            <li><%= link_to " 討論區", dashboard_forums_path, class: "icon-newspaper" %></li>
          </ul>
        </li>
        <li class="dropdown <%= controller?('articles','campings') %>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">文章總覽</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 文章總覽", dashboard_articles_path, class: "icon-quill" %></li>
            <li><%= link_to " 露營地點", dashboard_campings_path, class: "icon-quill" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">授課課程</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 課程行事曆", dashboard_schedules_path(doing_kind_id: 2), class: "icon-calendar" %></li>
            <li><%= link_to " 課程相關資料", dashboard_articles_path, class: "icon-profile" %></li>
          </ul>
        </li>
        <li class="dropdown <%= controller?('albums','musics','movies') %>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">花絮集錦</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 相簿", dashboard_albums_path, class: "icon-image" %></li>
            <li><%= link_to " 團康音樂", dashboard_musics_path, class: "icon-music" if inside %></li>
            <li><%= link_to " 影片連結", dashboard_movies_path, class: "icon-film" %></li>
          </ul>
        </li>
        <li class="dropdown <%= controller?('members','titles') %>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">歷史資料</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "職務表", dashboard_titles_path %></li>
            <li><%= link_to " 團員資料", dashboard_members_path, class: "icon-user" %></li>
            <li><%= link_to " 各屆幹部", title_ths_dashboard_titles_path, class: "icon-users" %></li>
            <li><%= link_to " 活動表", dashboard_schedules_path, class: "icon-calendar" %></li>
          </ul>
        </li>
        <% if admin %>
        <li class="dropdown <%= controller?('user_groups') %>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">輔助功能</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "使用者群組", dashboard_user_groups_path %></li>
          </ul>
        </li>
        <% end %>
        <li class="<%#= 'active' if params[:controller] == 'abouts' %>"><%#= link_to "關於我們", abouts_index_path %></li>
        <li class="<%#= 'active' if params[:controller] == 'welcome' && params[:action] == 'map'%>"><%#= link_to "網站地圖", map_welcome_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
           <a href="#" class="dropdown-toggle" id="user-dropdown" data-toggle="dropdown">
             <img src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=square" height="42" width="42"/><%= current_user.name %></a>
          <ul class="dropdown-menu" role="menu">
            <li><%#= link_to " 權限變更", users_path, :class => 'icon-key' if admin_with? %></li>
            <li class="divider"></li>
            <li><%= link_to " 登出", destroy_user_session_path, :method => :delete, :class => 'icon-exit' %></li>
            <li><%= link_to " 管理者介面", dashboard_admin_root_path, :class => 'icon-enter' if superadmin %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
