<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "黑衫軍", root_path, :class => 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= 'active' if params[:controller] == 'welcome' && params[:action] == 'index'%>"><%= link_to "最新消息", root_path %></li>
        <li class="dropdown  <%= 'active' if params[:controller] == 'boards' || params[:controller] == 'forums'%>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">交流區</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 留言板", boards_path, class: "icon-bubbles" %></li>
            <li><%= link_to " 討論分區", forum_types_path, class: "glyphicon glyphicon-list-alt" %></li>
            <li><%= link_to " 討論區", forums_path, class: "glyphicon glyphicon-list-alt" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">文章總覽</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 文章總覽", articles_path, class: "icon-calendar" %></li>
            <li><%= link_to " 文章分類", art_types_path, class: "icon-profile" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">授課課程</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 課程行事曆", members_path, class: "icon-calendar" %></li>
            <li><%= link_to " 課程相關資料", title_ths_path, class: "icon-profile" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">花絮集錦</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 相簿", albums_path, class: "icon-image" %></li>
            <li><%= link_to " 團康音樂", musics_path, class: "icon-music" %></li>
            <li><%= link_to " 影片連結", schedules_path, class: "icon-film" %></li>
          </ul>
        </li>
        <li class="dropdown <%= 'active' if params[:controller] == 'years' || params[:controller] == 'doings'%>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">歷史資料</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 團員資料", members_path, class: "icon-user" %></li>
            <li><%= link_to " 各屆幹部", title_ths_path, class: "icon-users" %></li>
            <li><%= link_to " 活動表", schedules_path, class: "icon-calendar" %></li>
          </ul>
        </li>
        <li class="dropdown <%= 'active' if params[:controller] == 'doing_types' || params[:controller] == 'titles'%>">
          <a href="#" class="dropdown-toggle clearfix" data-toggle="dropdown">輔助功能</a>
          <ul class="dropdown-menu" role="menu">
            <li ><%= link_to "活動類型", doing_types_path %></li>
            <li><%= link_to "職務表", titles_path %></li>
            <li><%= link_to "權限群組", groups_path %></li>
            <li><%= link_to "使用者群組", user_groups_path %></li>
          </ul>
        </li>
        <li class="<%#= 'active' if params[:controller] == 'abouts' %>"><%#= link_to "關於我們", abouts_index_path %></li>
        <li class="<%#= 'active' if params[:controller] == 'welcome' && params[:action] == 'map'%>"><%#= link_to "網站地圖", map_welcome_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <% if current_user %>
           <a href="#" class="dropdown-toggle" id="user-dropdown" data-toggle="dropdown"><img src="http://graph.facebook.com/<%= current_user.uid %>/picture?type=square" height="42" width="42"/> <%= current_user.name %></a>
          <ul class="dropdown-menu" role="menu">
            <li><%#= link_to " 權限變更", users_path, :class => 'icon-key' if admin_with? %></li>
            <li class="divider"></li>
            <li><%= link_to " 登出", destroy_user_session_path, :method => :delete, :class => 'icon-exit' %></li>
          </ul>
          <% else %>
          <a href="#" class="dropdown-toggle icon-enter" data-toggle="dropdown"> 登入</a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to " 臉書登入", user_omniauth_authorize_path(:facebook), :class => 'icon-facebook' %></li>
          </ul>
          <% end %>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
