<%= form_for [:dashboard,@board] do |f| %>
  <div class="field">
    <%= f.label :subject %><br>
    <%= f.text_field :subject, :class => 'form-control fieldw' %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :class => 'form-control fieldh' %>
  </div>
  <div class="actions">
    <% params[:action] == 'edit' ? btn = '更新' : '新增' %>
    <%= f.submit btn, :class => 'btn btn-primary' %>
  </div>
<% end %>
