<% content_for :breadcrumb do %>
  <li class="active">職務職掌</li>
<% end %>

<div class="col-sx-12 new">
  <%= link_to "新增", new_dashboard_title_path, class: "btn btn-success" %>
</div>
<div class="col-md-2">
  <div class="list">
    <table class="table table-hover">
      <tbody>
        <% @titles.each do |t| %>
        <tr>
          <td>
            <%= link_to t.title, dashboard_titles_path(id: t.id) %>
            <%= t.level %>
          </td>
          <td>
            <%= link_to "修改", edit_dashboard_title_path(t), class: "btn btn-xs btn-success"  %>
            <%= link_to "刪除", dashboard_title_path(t), :method => :delete, class: "btn btn-xs btn-danger"  %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-10">
  <div id="title" class="list">
    <% if @title %>
      <p class="title-title"><%= @title.title %></p>
      <div>
        <%= markdown(@title.description) %>
        <%= "修訂於 " + time_parser(@title.updated_at) if @title.updated_at != @title.created_at %>
      </div>
    <% end %>
  </div>
</div>
