<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <%= render 'meta'%>
</head>
<body>
<span id='top'> </span>
  <%= render 'admnav'%>
  <div class='container'>
    <ol class="breadcrumb">
      <li><%= link_to "首頁", dashboard_admin_root_path %></li>
      <%= yield :breadcrumb %>
    </ol>
    <% if notice %>
      <p class='alert alert-info'> <%= notice %> </p>
    <% end %>
    <% if alert %>
      <p class='alert alert-danger'> <%= alert %> </p>
    <% end %>

    <%= yield %>
  </div>
  <div class='container'>
  <%= render 'footer' %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :script %>
  <%= render 'google' %>
</body>
</html>
