<!DOCTYPE html>
<html>
<head>
  <title>黑衫軍 | <%= controller.controller_name %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= analytics_init if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1"/><%#= RWD 必要資訊 %>
</head>
<body>
<span id='top'> </span>
  <%= render :partial => 'nav'%>
  <div class='container'>

      <% if notice %>
        <p class='alert alert-info'> <%= notice %> </p>
      <% end %>
      <% if alert %>
        <p class='alert alert-danger'> <%= alert %> </p>
      <% end %>

        <%= yield %>
  </div>
  <div class='container'>
  <%= render :partial => 'footer' %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
