<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">團員資料</li>
</ol>

<% @members.each do |member| %>
  <%= member.th %>
	<%= member.year %>
	<%= member.name %>
	<%= member.nname %>
	<%= member.sex ? '男' : '女' %><br/>
<% end %>
