<ol class="breadcrumb">
  <li><%= link_to "首頁", root_path %></li>
  <li class="active">團員資料</li>
</ol>

<% @members.each do |member| %>
  <%= member.th %>
	<%= member.year %>
	<%= member.name %>
	<%= member.nname %>
	<%= member.sex ? '男' : '女' %>
	<%= link_to "修改", edit_member_path(member) %>
	<%= link_to "刪除", member_path(member), :method => :delete %><br/>
<% end %>
<p><%= link_to '新增', new_member_path %></p>
